@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@100;400;500;600;700&family=Roboto:wght@300;400&display=swap');
body {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.main_background {
    max-width: 1366px;
    margin: 0 auto;
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 173px;
    display: flex;
}
h1 {
    font-size: 29px;
    line-height: 18px;
}
h2 {
    font-size: 18px;
    line-height: 13px;
    font-weight: 400;
}
header {
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    flex-wrap: wrap;
    max-width: 209px;
    margin-top: 51px;
    justify-content: center;
}
.logo_img {
    width: 53px;
    height: 47px;
    background-size: cover;
    background-image: url(../img/logo-white.svg);
}
.logo_txt {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: max-content;
    font-weight: 700;
    text-transform: uppercase;   
}
.logo_txt > h1,
.logo_txt > h2 {
    padding: 8px 0 0  8px;
}
.logo:hover .logo_txt {
    color: #F26522;
}
.logo:hover .logo_img {
    background-image: url(../img/logo-orange.svg);
}
.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    width: 220px;
}

.contacts a:first-child {
    margin-top: 46px;
}

.contacts a:last-child {
    padding-top: 19px;
}

.contacts a:hover {
    color: #F26522;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    max-width: 1020px;
    padding: 17px 0 0 0;
}
.tour_header {
    text-align: center;
    padding-top: 20px;
}

.main_tour_img {
    position: relative;
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-image: linear-gradient(to right bottom, black, white) 1;
    border-width: 2px;
    border-style: solid;
}
.tour_img_label {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ffffff;
    font-weight: 400;
    background-color: #F26522;
    width: 300px;
    transition: bottom 400ms linear;
}
.tour_img_label span:nth-child(1) {
    font-size: 10px;
    line-height: 10px;
    width: inherit;
    padding: 7px 0 0 16px;
}
.tour_img_label span:nth-child(2) {
    font-size: 20px;
    line-height: 20px;
    padding: 8px 0 12px 16px;
}
.tour_img_label span:nth-child(3) {
    position: relative;
    font-size: 14px;
    line-height: 14px;
    padding: 0 37px 12px 0;
    align-self: flex-end;
    justify-self: flex-end;
}
.tour_img_label span:nth-child(3)::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/angle-arrow.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: calc(100% - 21px);
}
.main_tour:hover .tour_header {
    color: #F26522;
}
.main_tour:hover .tour_img_label {
   bottom: 0;
}
footer {
    justify-content: center;
}
.copyright {
    padding: 49px 0 15px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}